@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: none;
  padding-bottom: 50px;
  min-height: 100vh;
}
:root{
  width: 100%;
  margin: auto;
}
body.light{
  background:linear-gradient(to bottom, #92e0ff,rgb(0, 124, 247)) ;
}
body.dark{
  background: linear-gradient(to bottom, #0f172a, #1e3a8a);
}